
.cartoon_container {
    height: 100px;
    width: 100px;
    background-color: #f2dd68;
    border-radius: 50%;
    position: relative;
}

.eyes_container {
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    /* justify-content: space-between; */
}

.eye_left,
.eye_right {
    width: 30px;
    height: 40px;
    background-color: white;
    margin: 0px 5px;
    border-radius: 50%;
    position: relative;
}

.close_eyes_container>div:nth-child(2) {
    display: flex;
    position: absolute;
    top: 20%;
    /* top: 5%; */
    left: 16%;
    justify-content: space-between;
}

.close_eye_left,
.close_eye_right {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 10px 0px 0px 5px;
    border-radius: 50%;
}

.eye_ball_left,
.eye_ball_right {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #995710;
    position: absolute;
    animation: blinkEyevlack;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes blinkEyevlack {
    10% {
        height: 15px;
        /* margin-top: 5px; */
    }

    30% {
        margin-top: 5px;
        height: 0px;
    }

    50% {
        height: 15px;
    }
}

@keyframes closeEye {
    0% {
        height: 15px;
    }

    100% {
        height: 1px;
    }
}

@keyframes openEye {
    0% {
        height: 1px;
    }

    100% {
        height: 15px;
    }
}

.mouth_smile {
    position: absolute;
    width: 45px;
    height: 25px;
    background-color: #995710;
    border-radius: 0 0 70px 70px;
    top: 68%;
    left: 28%;
    /* display: none; */
}

.mouth_oops {
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: #995710;
    border-radius: 70px 70px 0px 00px;
    top: 65%;
    left: 28%;
}

.teeth {
    height: 15px;
    width: 25px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: wheat;
    border-radius: 0 0 70px 70px;
}