.main_container{
    height: 100vh;
    display: grid;
    grid-template-rows: 64px 1fr 64px;
}
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}
.main_profile_avatar{
 cursor: pointer;
 display: flex;
}
.main_name_and_content{
    margin: 0 15px;
}
.main_name_and_content p{
    margin: 0;
}
.main_name_and_content > p:nth-child(1){
    font-size: 15px;
    font-weight: 600;
}
.main_name_and_content>p:nth-child(2) {
    font-size: 12px;
}
.main_conversation_header_navigation{
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}

/* chat body section  */
.main_chat_body{
    /* height: ; */
}

.main_input_section > form{
    display: flex;
    align-items: center;
    padding: 10px;
}
.main_input_section>form>div:nth-child(1) >input {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.main_input_section>form>div:nth-child(1)>input:focus {
    outline: none;
}
.main_input_section>form>div:nth-child(2){
    width: 60px;
}

.main_chat_body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: auto;
}

.chat_context{
    /* align-self: ; */
    padding: 8px;
    max-width: 410px;
    background-color: white;
    margin: 3px 10px;
    position: relative;
    border-radius: 5px;
}
.main_chat_body>.chat_context:nth-child(1) {
    margin-top: 8px;
}
.chat_context_data{
    display: flex;
    justify-content: space-between;
    width: auto;
    position: relative;
}
.chat_context_data > p:nth-child(1){
    width: 350px;
    margin: 0;
    font-size: 14px;
}
.chat_context_data > p:nth-child(2){
    width: 50px;
    margin: 0 -10px 0 0;
    font-size: 10px;
    /* justify-self: flex-start; */
}