.searchandchat_container{
    max-width: 400px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}
.searchuser_input{
    padding: 5px;
}
.searchuser_result{
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
.searchuser_result::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.searchuser_result::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.searchuser_result::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.searchuser_result::-webkit-scrollbar-thumb:hover {
    background: #555;
}